# .env.sample

VITE_NODE_ENV=YOUR_NODE_ENV
VITE_APP_TITLE=YOUR_APP_TITLE
VITE_DJANGO_API_BASE_URLS=YOUR_DJANGO_API_BASE_URLS
VITE_AUTH_SERVICE_PORT=YOUR_AUTH_SERVICE_PORT
VITE_SESSION_SERVICE_PORT=YOUR_SESSION_SERVICE_PORT
VITE_ACCOUNT_SERVICE_PORT=YOUR_ACCOUNT_SERVICE_PORT