{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/style.css",
  "tailwindConfig": "./tailwind.config.js",
  "tailwindPreserveWhitespace": true,
  "tailwindPreserveDuplicates": true
}
